---
import Layout from "../layouts/Layout.astro";
---

<Layout title="یک ایران">
  <div class="container">
    <h1 id="headline">مانده تا سالگرد مهسا امینی</h1>
    <div id="countdown">
      <ul>
        <li><span id="days"></span>روز</li>
        <li><span id="hours"></span>ساعت</li>
        <li><span id="minutes"></span>دقیقه</li>
        <li><span id="seconds"></span>ثانیه</li>
      </ul>
    </div>
    <div id="content" class="emoji">
      <span>🥳</span>
      <span>🎉</span>
      <span>🎂</span>
    </div>
  </div>
</Layout>

<style>
  /* general styling */
  :root {
    --smaller: 0.75;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    align-items: center;
    background-color: #ffd54f;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  .container {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }

  li span {
    display: block;
    font-size: 4.5rem;
  }

  .emoji {
    display: none;
    padding: 1rem;
  }

  .emoji span {
    font-size: 4rem;
    padding: 0 0.5rem;
  }

  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }

    li {
      font-size: calc(1.125rem * var(--smaller));
    }

    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
</style>

<script>
  const second = 1000;
  const minute = second * 60;
  const hour = minute * 60;
  const day = hour * 24;

  const countDown = new Date("2023/09/16").getTime();

  const x = setInterval(() => {
    const now = new Date().getTime();
    const distance = countDown - now;

    const days = Math.floor(distance / day);
    document.getElementById("days")!.innerText = days.toString();

    const hours = Math.floor((distance % day) / hour);
    document.getElementById("hours")!.innerText = hours
      .toString()
      .padStart(2, "0");

    const minutes = Math.floor((distance % hour) / minute);
    document.getElementById("minutes")!.innerText = minutes
      .toString()
      .padStart(2, "0");

    const seconds = Math.floor((distance % minute) / second);
    document.getElementById("seconds")!.innerText = seconds
      .toString()
      .padStart(2, "0");

    // Do something later when date is reached
    // if (distance < 0) {
    //   document.getElementById("headline")!.innerText = "It's my birthday!";
    //   document.getElementById("countdown")!.style.display = "none";
    //   document.getElementById("content")!.style.display = "block";
    //   clearInterval(x);
    // }
  }, 50);
</script>
